// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

div#highlight-registered-keyword {
  //font-size: 10pt;
  font-family: monospace;
  overflow: auto;
  li.highlight-registered-keyword.patterns {
    list-style-type: decimal;
    list-style-position: outside;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
}
