// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-panel.highlight-registered-keyword {
  //width: 800px;
  //height: 600px;
  background-color: @overlay-background-color;
  font-family: monospace;
  font-size: 10pt;
}
div#highlight-registered-keyword {
  //width:800px;
  //height:600px;
  overflow: auto;
  background-color: @overlay-background-color;
}

li.highlight-registered-keyword_patterns {
  list-style-type: decimal;
  list-style-position: outside;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
